.chapter(data-title='Server Notifications and Alerts')
  .step(data-file='src/main/resources/administrators.json')
    :markdown
      ## What does this thing do?

      This [Spring](https://spring.io/) sample application demonstrates
      how to send SMS alerts to a list of system administrators if something goes
      wrong on your server. In this tutorial, we'll show you the key bits of code
      to make this work.

      Let's get started!

      ---

      **See Also:**
      * [Spring](https://spring.io/)
      * [Serving Web Content with Spring MVC](https://spring.io/guides/gs/serving-web-content/)
